<div style="height: 10pt;">
	<mat-progress-bar *ngIf="values.loading | async" mode="indeterminate"></mat-progress-bar>
</div>
<div>
	<mat-form-field class="filter">
	<input matInput placeholder="Устройство" #filterDevName>
	</mat-form-field>
	<mat-form-field  class="filter">
	<input matInput [matDatepicker]="dpStart" placeholder="Время от" (dateChange)="startChange()" #startDate>
	<mat-datepicker-toggle matSuffix [for]="dpStart"></mat-datepicker-toggle>
	<mat-datepicker #dpStart></mat-datepicker>
	</mat-form-field>
	<mat-form-field  class="filter">
	<input matInput [matDatepicker]="dpFinish" placeholder="до" (dateChange)="finishChange()" #finishDate>
	<mat-datepicker-toggle matSuffix [for]="dpFinish"></mat-datepicker-toggle>
	<mat-datepicker #dpFinish></mat-datepicker>
	</mat-form-field>

	<button color="primary" mat-button (click)="load()">Обновить</button>  
	<button color="accent" mat-button (click)="resetFilter()">Сбросить</button>  
</div>

<div class="packetTypeSelector">
	<div fxFlex>
		<div fxLayout="row" fxLayoutAlign="stretch" >
		  <mat-chip-list>
			  <mat-chip (click)="filterRaw('')"> Все замеры </mat-chip>
			  базовые 
			  <mat-chip (click)="filterRaw('4a')"> 4a </mat-chip>
			  <mat-chip (click)="filterRaw('4b')"> 4b </mat-chip>
			  дельты
			  <mat-chip (click)="filterRaw('48')"> 48 </mat-chip>
			  <mat-chip (click)="filterRaw('49')"> 49 </mat-chip>
			  Хаффман
			  <mat-chip (click)="filterRaw('4c')"> 4c </mat-chip>
			  <mat-chip (click)="filterRaw('4d')"> 4d </mat-chip>
		  </mat-chip-list>
		</div>
	</div>
</div>

<div>
  <table mat-table [dataSource]="values" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> № </th>
      <td class="small" mat-cell *matCellDef="let v">{{v.id}}</td>
    </ng-container>
	<ng-container matColumnDef="received">
		<th mat-header-cell *matHeaderCellDef> Время </th>
		<td mat-cell *matCellDef="let v">{{ +v.received * 1000 | date : 'dd.MM.yyyy HH:mm:ss ZZZZZ'}}</td>
	</ng-container>
	<ng-container matColumnDef="devname">
      <th mat-header-cell *matHeaderCellDef> Устройство  </th>
      <td mat-cell *matCellDef="let v"> {{v.devname}} </td>
    </ng-container>
    <ng-container matColumnDef="raw">
		<th mat-header-cell *matHeaderCellDef> Пакет </th>
		<td mat-cell *matCellDef="let v"> {{v.raw}} </td>
    </ng-container>
	<ng-container matColumnDef="loraaddr">
		<th mat-header-cell *matHeaderCellDef> Адрес  </th>
		<td mat-cell *matCellDef="let v"> {{v.loraaddr}} </td>
	</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetails(row)"></tr>
  </table>
  <mat-paginator [pageSize]="100"></mat-paginator>
</div>
