<div fxLayout="row" fxLayoutAlign="start stretch">
	<button mat-icon-button aria-label="Логгеры LoRaWAN" [color]="env.menuColor('')" [matMenuTriggerFor]="menu"> 
		<mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<button mat-menu-item (click)="env.showDashboard()" >Начало</button>
		<button mat-menu-item (click)="env.selectSheetType()" matTooltip="Выбрать формат электронной таблицы для скачивания" >Выбрать Excel/CSV</button>
		
		<!--
		<div mat-menu-item>
			Темный режим	
			<mat-slide-toggle [(ngModel)]="env.darkMode"></mat-slide-toggle>
		</div>
		-->
	</mat-menu>
	<button [color]="env.menuColor('passports')" mat-button matTooltip="Паспорта кос" (click)="env.showPassportList()"><mat-icon>folder_open</mat-icon></button>  
	<button [color]="env.menuColor('raw')" mat-button matTooltip="Пакеты" (click)="env.showRaw()"><mat-icon>output</mat-icon></button>  
    <button [color]="env.menuColor('t')" mat-button matTooltip="Температуры" (click)="env.showTemperature()"><mat-icon>upload</mat-icon></button>  
	<button [color]="env.menuColor('map-gw')" mat-button matTooltip="Шлюзы" (click)="env.showMapGw()"><mat-icon>sensors</mat-icon></button>  
</div>
