<form (submit)="select();">
	<div class="dateform" fxLayout="column" fxLayoutAlign="stretch" >
	<mat-form-field>
		<input matInput [matDatepicker]="dpStart" placeholder="Начальная дата" [formControl]="startDate" >
		<mat-datepicker-toggle matSuffix [for]="dpStart"></mat-datepicker-toggle>
		<mat-datepicker #dpStart></mat-datepicker>
	</mat-form-field>
	<mat-form-field>
		<input matInput [matDatepicker]="dpFinish" placeholder="Конечная дата" [formControl]="finishDate">
		<mat-datepicker-toggle matSuffix [for]="dpFinish"></mat-datepicker-toggle>
		<mat-datepicker #dpFinish></mat-datepicker>
	</mat-form-field>
	<div fxLayout="row" fxLayoutAlign="end stretch">
		<button type='button' mat-button (click)="cancel()">Отменить</button>  
		<button color="primary" mat-button>Выбрать</button>  
	</div>
  </div>
</form>
