<p>
	Температуры с датчиков косы приходят с устройств в нескольких пакетах.
	Так как некоторые пакеты могут быть утеряны, значением температуры может быть NULL.
</p>
<p>
	Коса имеет номер и год выпуска
	В идентификаторе косы номер и год (последние две цифры года) пишутся через тире.
	Чтобы отфильтровать все косы одного года, например, 2020, в фильтре таблицы нужно написать '-20'
	Чтобы отфильтровать одну косу, например, 28-20, в фильтре таблицы нужно написать '28-20'
</p>
<p>
	Устройство- Lora модем с подключенной одной или несколькими косами.
</p>
