.mat-cell {
	padding-left: 5pt;
	padding-right: 5pt;
}

table {
	width: 100%;
}

.mat-row:hover {
	background-color: #ddd;
}

a {
	color: grey
}

.filter {
	padding-left: 15pt;
	padding-right: 5pt;
}

.hidden-row {
	display: none;
}

.mat-column-measured {
	min-width: 100pt !important;
	max-width: 100pt !important;
}

.mat-column-kosa-year {
	min-width: 30pt !important;	
	max-width: 30pt !important;	
}

.mat-column-devname {
	min-width: 60pt !important;	
}

.mat-column-no {
	width: 5pt !important;	
}

.mat-column-vcc, .mat-column-vbat {
	min-width: 30pt !important;	
	max-width: 30pt !important;	
}

.mat-column-t {
}

